*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(233, 230, 230);
}


.product_card{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
   padding: 2em;
   width: 80%;
   margin-left: 5em;
}

.product_card h2:nth-child(1){
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;
}

.product_card h2:nth-child(2){
    font-size:40px;
}

.product_card h2:nth-child(3){
    font-size:20px;
}



#add_quantity{
margin-bottom:10px;
}

.t_price{

}
